<div class="relative flex">
    <div class="flex" @onmousedown="async () => await WrapperButtonClick.InvokeAsync(!OpenWrapper)">
        @WrapperButton
    </div>
    <div id="@WrapperId" class="@($"{ClassNames} absolute z-10 {GetAnimation()} {(OpenWrapper ? "scale-100" : "scale-0")}")">
        @ChildContent
    </div>
</div>

@code {

    [Parameter] public RenderFragment WrapperButton { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string ClassNames { get; set; }
    [Parameter] public string Animation { get; set; }
    [Parameter] public bool OpenWrapper { get; set; }
    [Parameter] public string WrapperId { get; set; }

    [Parameter]
    public EventCallback<bool> WrapperButtonClick { get; set; }

    private string GetAnimation() => Animation ?? "origin-top-right transition-all duration-300 ease-in-out";    
}