@inject IJSRuntime JS
@rendermode InteractiveAuto

<Dropdown WrapperId="wrapperBell" OpenWrapper="OpenWrapper" WrapperButtonClick="OpenCloseWrapper" ClassNames="py-2 top-4 -left-[230px] md:-left-[440px] w-max" Animation="origin-[65%_0%] md:origin-top-right transition-all duration-300 ease-in-out">
    <WrapperButton>
        <p class="cursor-pointer">
            <i class="fa-regular fa-bell text-gray-600 dark:text-white"></i>
        </p>
    </WrapperButton>
    <ChildContent>
        <div class="flex w-[360px] flex-col gap-3 rounded-[20px] bg-white p-4 shadow-xl shadow-shadow-500 dark:!bg-navy-700 dark:text-white dark:shadow-none sm:w-[460px]">
            <div class="flex items-center justify-between">
                <p class="text-base font-bold text-navy-700 dark:text-white">
                    Notification
                </p>
                <p class="text-sm font-bold text-navy-700 dark:text-white">
                    Mark all read
                </p>
            </div>

            <button class="flex w-full items-center">
                <div class="flex h-full w-[85px] items-center justify-center rounded-xl bg-gradient-to-b from-brandLinear to-brand-500 py-4 text-2xl text-white">
                    <SfIcon Name="IconName.ArrowUp"></SfIcon>
                </div>
                <div class="ml-2 flex h-full w-full flex-col justify-center rounded-lg px-1 text-sm">
                    <p class="mb-1 text-left text-base font-bold text-gray-900 dark:text-white">
                        New Update: Horizon UI Dashboard PRO
                    </p>
                    <p class="font-base text-left text-xs text-gray-900 dark:text-white">
                        A new update for your downloaded item is available!
                    </p>
                </div>
            </button>

            <button class="flex w-full items-center">
                <div class="flex h-full w-[85px] items-center justify-center rounded-xl bg-gradient-to-b from-brandLinear to-brand-500 py-4 text-2xl text-white">
                    <SfIcon Name="IconName.ArrowUp"></SfIcon>
                </div>
                <div class="ml-2 flex h-full w-full flex-col justify-center rounded-lg px-1 text-sm">
                    <p class="mb-1 text-left text-base font-bold text-gray-900 dark:text-white">
                        New Update: Horizon UI Dashboard PRO
                    </p>
                    <p class="font-base text-left text-xs text-gray-900 dark:text-white">
                        A new update for your downloaded item is available!
                    </p>
                </div>
            </button>
        </div>
    </ChildContent>
</Dropdown>


@code {

    IJSObjectReference? jsModule;

    [Parameter] public bool OpenWrapper { get; set; }

    [Parameter]
    public EventCallback<bool> DropDownWrapperClick { get; set; }

    private async Task OpenCloseWrapper(bool isOpenedWrapper)
    {
        await DropDownWrapperClick.InvokeAsync(isOpenedWrapper);
    }
}
