@using Syncfusion.Blazor.Buttons
@using TailwindBlazor.Client.Models
@rendermode InteractiveServer

<div class="@(GetSidebarClasses())">
    <span class="absolute right-4 top-4 block cursor-pointer xl:hidden" @onclick="() => SetOpen(false)">
        <SfIcon Name="IconName.Close" />
    </span>

    <div class="mx-[56px] mt-[50px] flex items-center">
        <div class="ml-1 mt-1 h-2.5 font-poppins text-[26px] font-bold uppercase text-navy-700 dark:text-white">
            Horizon <span class="font-medium">FREE</span>
        </div>
    </div>
    <div class="mb-7 mt-[58px] h-px bg-gray-300 dark:bg-white/30" />

    <ul class="mb-auto pt-1">
        <SidebarLinks Path="" Icon="Home" Name="Home" />
        <SidebarLinks Path="History" Icon="Chart" Name="History" />
    </ul>
</div>

@code {
    private bool Open { get; set; }

    private void SetOpen(bool value)
    {
        Open = value;
        StateHasChanged(); // Ensure the component re-renders after changing the state
    }

    private string GetSidebarClasses()
    {
        return $"sm:none duration-175 linear fixed !z-50 flex min-h-full flex-col bg-white pb-10 shadow-2xl shadow-white/5 transition-all dark:!bg-navy-800 dark:text-white md:!z-50 lg:!z-50 xl:!z-0 {(Open ? "translate-x-0" : "-translate-x-96 xl:translate-x-0")}";
    }
}